<ion-content padding>
    <ion-text color="dark">
        <ion-icon name="information-circle-outline" style="width: 290px; height: 250px" color="primary" class="center"></ion-icon>
        <br>

        <ion-item>
            <ion-avatar slot="start">
                <ion-icon name="outlet" item-center style="width:40px ; height: 40px" color="primary"></ion-icon>
            </ion-avatar>
            <ion-label class="tamaño">Serial del electrodoméstico:
                <br>
                <ion-note class="tamaño">{{electrodomestico.serial}}</ion-note>
            </ion-label>
        </ion-item>

        <br>

        <ion-item>
            <ion-avatar slot="start">
                <ion-icon name="compass" item-center style="width:40px ; height: 40px" color="primary"></ion-icon>
            </ion-avatar>
            <ion-label class="tamaño">Nombre del electrodoméstico:
                <br>
                <ion-note class="tamaño">{{ electrodomestico.name }}</ion-note>
            </ion-label>
        </ion-item>

        <br>
        <ion-item>
            <ion-avatar slot="start">
                <ion-icon name="apps" item-center style="width:40px ; height: 40px" color="primary"></ion-icon>
            </ion-avatar>
            <ion-label class="tamaño">Categoría del electrodoméstico:
                <br>
                <ion-note class="tamaño">{{ electrodomestico.category }}</ion-note>
            </ion-label>
        </ion-item>

        <br>
        <ion-item>
            <ion-avatar slot="start">
                <ion-icon name="trending-down" item-center style="width:40px ; height: 40px" color="primary"></ion-icon>
            </ion-avatar>
            <ion-label class="tamaño">Voltaje del electrodoméstico:
                <br>
                <ion-note class="tamaño">{{ electrodomestico.voltage }}</ion-note>
            </ion-label>
        </ion-item>
    </ion-text>
<br>
    <ion-button color="danger" expand="full">Eliminar</ion-button>

    <ion-virtual-scroll [items]="electrodomestico.users">
        <ion-item *virtualItem="let user">
            {{ item.user.name }}
        </ion-item>
    </ion-virtual-scroll>
</ion-content>
