<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Agregar un dispositivo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="ion-text-center">
    <ion-icon name="add-circle-outline" style="width: 290px; height: 250px; " color="success"></ion-icon>
  </div>
<form [formGroup]="forma" (ngSubmit)="register()">
  <ion-item>
    <ion-label position="floating">Serial del electrodoméstico</ion-label>
    <ion-input formControlName="serial"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="floating">Nombre del electrodoméstico</ion-label>
    <ion-input formControlName="name" type="text"></ion-input>
  </ion-item>

  <br>

  <ion-item>
    <ion-label position="floating">Serial Medidor</ion-label>
    <ion-input formControlName="meter" type="text"></ion-input>
  </ion-item>

  <br>

  <ion-list>

    <ion-item>
      <ion-label>Categoría</ion-label>
      <ion-select placeholder="Seleccione una" formControlName="category">
        <ion-select-option>Cocina</ion-select-option>
        <ion-select-option>Sala</ion-select-option>
        <ion-select-option>Habitación</ion-select-option>
        <ion-select-option>Otro</ion-select-option>
      </ion-select>
    </ion-item>

  </ion-list>

  <ion-item>
    <ion-label position="floating" >Voltaje</ion-label>
    <ion-input type="number" placeholder="Voltage" formControlName="voltage"></ion-input>
  </ion-item>
  <br>
  <ion-button color="success" expand="block" type="submit" >AGREGAR</ion-button>
</form>

</ion-content>
