<ion-content padding>
    <ion-text color="primary">
        <h2 style="text-align: center">Resumen de consumo</h2>
    </ion-text>
    <br>
    <ion-list>

        <ion-text>Meta de consumo (Día):{{day.meta}}</ion-text>
        <br>
        <br>
        <ion-progress-bar [value]="((100/day.meta) * day.value)/100" buffer="0.6"></ion-progress-bar>
        <br>
        <br>
        <ion-text>Meta de consumo (Semana):{{week.meta}}</ion-text>
        <br>
        <br>
        <ion-progress-bar [value]="((100/week.meta) * week.value)/100" buffer="0.6"></ion-progress-bar>
        <br>
        <br>
        <ion-text>Meta de consumo (Mes):{{mounth.meta}}</ion-text>
        <br>
        <br>
        <ion-progress-bar [value]="((100/mounth.meta) * mounth.value)/100" buffer="0.6"></ion-progress-bar>

    </ion-list>


</ion-content>
