<ion-content padding> 
    <ion-text color="primary">
        <h2 style="text-align: center">Resumen de consumo</h2>
    </ion-text>
    <br>
<ion-list>

    <ion-text>Meta de consumo (Día):</ion-text>
    <br>
    <br>
    <ion-progress-bar value="0.25" buffer="0.6"></ion-progress-bar>
<br>
<br>
    <ion-text>Meta de consumo (Semana):</ion-text>
    <br>
    <br>
    <ion-progress-bar value="0.15" buffer="0.6"></ion-progress-bar>
<br>
<br>
    <ion-text>Meta de consumo (Mes):</ion-text>
        <br>
        <br>
    <ion-progress-bar value="0.5" buffer="0.6"></ion-progress-bar>

</ion-list>


</ion-content>