<ion-content padding>
    <ion-text color="dark">
        <br>
        <ion-icon name="contact" style="width: 290px; height: 250px" color="primary" class="center"></ion-icon>
        <br>

        <ion-icon name="contact" item-left style="width:28px ; height: 28px" color="primary"></ion-icon>
        <ion-label class="tamaño">Usuario:</ion-label>
        <ion-item>
            <ion-label class="tamaño">{{myUser.name}}</ion-label>
        </ion-item>


        <ion-icon name="information-circle" item-left style="width:28px ; height: 28px" color="primary"></ion-icon>
        <ion-label class="tamaño">Ciudad:</ion-label>
        <ion-item>
            <ion-label class="tamaño">{{myUser.city}}</ion-label>
        </ion-item>


        <ion-icon name="at" item-left style="width:28px ; height: 28px" color="primary"></ion-icon>
        <ion-label class="tamaño">Correo:</ion-label>
        <ion-item>
            <ion-label class="tamaño">{{myUser.email}}</ion-label>
        </ion-item>

    </ion-text>
</ion-content>