<ion-content padding>
    <ion-text color="dark">
        <br>
        <ion-icon name="contact" style="width: 290px; height: 250px" color="primary" class="center"></ion-icon>
        <br>

        <ion-item>
            <ion-avatar slot="start">
                <ion-icon name="contact" item-center style="width:40px ; height: 40px" color="primary"></ion-icon>
            </ion-avatar>
            <ion-label class="tamaño">Usuario:
                <br>
                <ion-note class="tamaño">{{myUser.name}}</ion-note>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <ion-icon name="information-circle" item-center style="width:40px ; height: 40px" color="primary"></ion-icon>
            </ion-avatar>
            <ion-label class="tamaño">Ciudad:
                <br>
                <ion-note class="tamaño">{{myUser.city}}</ion-note>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <ion-icon name="at" item-center style="width:40px ; height: 40px" color="primary"></ion-icon>
            </ion-avatar>
            <ion-label class="tamaño">Correo:
                <br>
                <ion-note class="tamaño">{{myUser.email}}</ion-note>
            </ion-label>
        </ion-item>
    </ion-text>
    <ion-button color="tertiary" expand="block" (click)="challeng()">Cambiar Contraseña</ion-button>
</ion-content>
