<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Agregar un dispositivo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<div class="ion-text-center">
  <ion-icon name="add-circle-outline" style="width: 290px; height: 250px; " color="success"></ion-icon>
</div>
  <ion-item>
    <ion-label position="floating">Serial del electrodoméstico</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="floating">Nombre del electrodoméstico</ion-label>
    <ion-input></ion-input>
  </ion-item>

<br>

  <ion-list>

    <ion-item>
      <ion-label>Categoría</ion-label>
      <ion-select placeholder="Seleccione una">
        <ion-select-option>Cocina</ion-select-option>
        <ion-select-option>Sala</ion-select-option>
        <ion-select-option>Habitación</ion-select-option>
        <ion-select-option>Otro</ion-select-option>
      </ion-select>
    </ion-item>

  </ion-list>

<ion-item>
  <ion-label position="floating" >Voltaje</ion-label>
  <ion-input type="number" placeholder="V"></ion-input>
</ion-item>
<br>

<ion-button color="success" expand="block" routerLink="/principal" >AGREGAR</ion-button>

</ion-content>
