
<ion-menu menuId="menu" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="flase">
          <ion-item [routerLink]="p.url" *ngFor="let p of appMenu" (click)="selectComponent(p.title)" >
            <ion-icon [name]="p.icon"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-content>
</ion-menu>

