
<ion-menu menuId="menu" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="flase">
          <!--*ngFor="let p of appMenu">-->
          <!--<ion-item [routerLink]="p.url">-->
            <!--<ion-label>{{ p.title }}</ion-label>-->
          <!--</ion-item>-->
          <ion-item routerLink="add-electrodomestic">
            <ion-label>Add Dispositivo</ion-label>
          </ion-item>
          <ion-item routerLink="addd">
            <ion-label>Addd</ion-label>
        </ion-item>
          <ion-item routerLink="login">
            <ion-label>salir</ion-label>
        </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-content>
</ion-menu>

